body {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#light {
    background-image: radial-gradient(rgba(255, 255, 255, 0.19), rgba(0, 0, 0, 0));
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: rgba(44, 44, 44, 0.9);
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    width: 100%;
    z-index: 1000;
    position: fixed;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 15px;
    background-color: #1a1a1a1a;
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #6a0dad;
}

section {
    padding: 100px 50px;
    text-align: center;
    min-height: 100vh;
    overflow-y: auto;
    transition: transform 1s ease;
}

h1,
h2,
h3 {
    margin-bottom: 30px;
    text-shadow: 2px 1px 2px #000;
    line-height: 34px;
    margin: 0 auto;
    white-space: nowrap;
}

.project {
    margin: 20px 0;
    background-color: #e95ea371;
    padding: 15px;
    border-radius: 20px;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.5), 8px 8px 5px rgba(0, 0, 0, 0.4);
    max-width: 323px;
    position: relative;
    z-index: 101;
}

.project:hover {
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.5), 8px 8px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

#portfolioContent .project {
    background-color: #0973e971;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    padding-bottom: 7px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

footer p {
    margin: 0;
}

.canvas-container {
    top: 0;
    left: 0;
    min-height: 700px;
    min-width: 500px;
    overflow: auto;
}

#home {
    position: absolute;
    top: 0;
}

a:visited {
    color: rgb(147 157 227);
}

a {
    color: #9d9dbe;
}

img {
    width: 299px;
}

#load {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#portfolioContent.visible+#load,
#playgroundContent.visible+#load {
    padding-top: 70px;
    margin-top: 0;
    transition: margin-top 0.5s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 0.5s, visibility 0.5s, height 0.5s;
}

.visible {
    opacity: 1;
    visibility: visible;
    height: auto;
}

#contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: all 1s ease;
    transform: translateY(20vh);
}


#portfolioContent.visible+#load,
#playgroundContent.visible+#load {
    margin-top: 0;
    transition: margin-top 1s ease;
}

#portfolioContent,
#playgroundContent {
    z-index: 100;
}

.hidden {
    opacity: 0;
    display: none;
    transition: opacity 0.2s ease-in-out;
}

.visible {
    opacity: 1;
    visibility: visible;
    height: auto;
}

section#projects,
section#portfolioProjects {
    margin-top: 269px;
    position: relative;
    z-index: 100;
}

.section-invisible {
    display: none;
}


/* Media queries for responsive design */
@media (max-width: 767px) {
    nav ul {
        flex-direction: column;
    }

    section {
        padding: 80px 25px;
    }

    h1,
    h2,
    h3 {
        font-size: 24px;
    }

    .project {

        max-width: 231px;
    }

    img {
        width: 199px;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.scale-in {
    animation: scaleIn 1.5s ease-out forwards;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3333332e;
    padding: 5px 0;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 0.9em;
}

.navbar a {
    font-size: 0.9em;
}

.read-more {
    font-size: 0.9em;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.8em;
    }

    .navbar a {
        font-size: 0.8em;
    }

    .read-more {
        font-size: 0.8em;
    }
}
